@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html, body {
    height: 100%;
  }

  body {
    @apply bg-[#fbfaf8] text-zinc-900 font-sans antialiased;
  }

  a {
    @apply text-inherit;
  }
}
